cvxpy
GPUtil==1.4.0
pyhocon==0.3.55
dask==2.27.0
ecos==2.0.7.post1
future==0.18.3
retrying
resource
scs
imageio
lpips
torchmetrics
matplotlib==3.7.2
numpy==1.25.2
opencv_python
Pillow
plotly
pyrender
scipy
setuptools
scikit-image
# torch
# torchmetrics
# torchvision
trimesh==3.23.5
tensorboard
ninja
open3d-python
#open3d
scikit-learn 
tqdm 
importlib_metadata