cvxpy==1.3.2
GPUtil==1.4.0
plotly==4.10.0
pyhocon==0.3.55
dask==2.27.0
ecos==2.0.7.post1
future==0.18.2
retrying
scs
trimesh
imageio==2.5.0
lpips==0.1.4
matplotlib==3.7.2
numpy==1.25.2
opencv_python
Pillow==9.3.0
Pillow==10.0.0
plotly==4.10.0
pyhocon==0.3.55
pyrender==0.1.45
scipy==1.11.2
setuptools==68.0.0
scikit-image
torch==2.0.1+cu117
torchmetrics==1.1.0
torchvision==0.15.2+cu117
trimesh==3.23.0
tensorboardX
ninja
open3d 
scikit-learn 
tqdm 
multiprocessing 
argparse
