cvxpy==1.3.2
GPUtil==1.4.0
pyhocon==0.3.55
dask==2.27.0
ecos==2.0.7.post1
future==0.18.3
retrying
scs
imageio
lpips==0.1.4
matplotlib==3.7.2
numpy==1.25.2
opencv_python
Pillow
plotly==5.17.0
pyrender==0.1.45
scipy==1.11.2
setuptools==68.0.0
scikit-image
torch
torchmetrics
torchvision
trimesh==3.23.0
tensorboardX
ninja
open3d 
scikit-learn 
tqdm 

